@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/* ============================== Home.js ================================= */

/* page header containing search bar and button */
.header{
    text-align: center;
    margin-top: 20px;
}

/* search bar */
.header input {
    width: 25%;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-family: 'Gabarito', sans-serif;
}

/* apply filter button */
.header button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 50rem;
}

.header button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


/* container containing filter bar and product list */
.mainContainer{
    display: flex;
    flex-wrap: wrap;
}

.mainContainer > div {
    margin: 15px;
    width: 100%;
}



/* ============================ FilterBar.js ==================== */




/* filterbar styles */
.filterBar{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    font-family: 'Ubuntu', sans-serif;
    height: 60px;
    font-size: 1.1rem;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    color:black;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

/* filter bar heading */
.filterBar h1{
    color:#2b44c3;
}

/* sub heading inside filter bar */
.filterBar span{
    color:#2b44c3;
}

/* price range to filter items */
.priceRange{
    text-align: center;
}

/* price range slider */
.priceRange input {
    width: 100%;
    height: 5px;
}

/* category of the products */
.categoryBox{
    display: flex;
}

/* radio buttons inside category */
.categoryBox input{
    margin-left: 15px;
    cursor: pointer;
}


/* =========================== MainContent.js ===================  */

/* container for all the products */
.itemContainer{
    display:flex;
    flex-wrap: wrap;
    padding: 0 16%;
}



/* =========================== ItemCard.js ===========================  */

/* single item container */
.cardContainer{
    display: flex;
    height: 330px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    margin: 2%;
    padding: 5px;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5%;
}

/* image container of product */
.imageContainer{
    height: 80%;
    width: 100%;
}

/* image within the container */
.imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/* product description */
.itemInfo{
    width: 100%;
    height: 20%;
}

/* container of name and price */
.namePrice{
    display: flex;
    height: 45%;
    text-align: center;
}

/* name of the product */
.name{
    text-align: left;
    width: 75%;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 94%;
}

/* price of the product */
.price{
    width: 25%;
    color: #1b6641;
    font-weight: 700;
    height: 95%;
}

/* button container within the item */
.btnContainer{
    height: 55%;
}

/* button  inside the container */
.btnContainer button{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
}


.addBtn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.addBtn:active,
.addBtn:hover {
  outline: 0;
}

.addBtn span {
  background-color: rgb(5, 6, 45);
  padding: 2px 8px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.addBtn:hover span {
    padding-top: 0.5em;
    background: none;
}




